
@media (min-width:325px) {

    #titlealign {
        background-color:rgb(255, 0, 247);
    }
}

@media (min-width:700px) {
    
    header {
        border-right: 2px solid rgb(255, 0, 247);
    }

    #titlealign {
        background-color:rgb(255, 0, 247);
    }

    .hrshow {
        border: 1px solid rgb(255, 0, 247);
    }
}

@media (min-width:900px) {

    #titlealign {
        background-color:rgb(255, 0, 247);
    }
}


/* GENERAL CODE*/

hr {
  border: 1px solid rgb(255, 0, 247);
}

.footerspacing:hover {
    letter-spacing: 0.5rem;
    transition-duration: 1s;
    text-decoration:underline;
    background-color:rgb(255, 0, 247);
}

.created {
    text-align: center;
    text-transform: lowercase;
    padding-top:0.5;
    color:rgb(85, 88, 86);
}